.DailyCheckIn {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.DailyCheckIn .container.card {
    background-color: #f8f9fa;
    max-width: 400px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.DailyCheckIn .container.card h4 {
    text-align: center;
    color: #333;
}

.DailyCheckIn .container.card h5 {
    text-align: center;
    color: #1192e9;
}

.DailyCheckIn .container.card h6 {
    text-align: center;
    color: #4ca6e3;
    font-size: 0.6em;
}


.DailyCheckIn .container.card label {
    font-size: 0.8em;
    color: #1192e9;
    text-align: center;
}

.button-check-in {
    background-color: #007bff;
    color: white;
    border: none;
}